*.class
*.log
*.iml
*.pyc
.idea*
.classpath_nb
.DS_Store
local_settings.json

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/target/
